*.pyc
__pycache__/
release/v5.5/agents/mpa/base/tests/.env
release/v5.5/agents/mpa/base/tests/.msal_token_cache.json
release/v5.5/agents/mpa/base/adis/tests/.msal_token_cache.json
release/v6.0/deployment/**/.env*
!release/v6.0/deployment/**/.env*.template
.msal_token_cache.json
node_modules
